@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;700&display=swap');

:root {
    --primary-color: #1C77C3; 
    --secondary-color: #40BCD8; 
    --accent1-color: #90E0EF; 
    --accent2-color: #1A1B41; 

    --heading-font: 'Roboto', serif; 
    --paragraph-font: 'Vollkorn', serif; 

    --nav-background-color: #1C77C3; 
    --nav-link-color: #40BCD8; 
    --nav-hover-link-color: #90E0EF; 
    --nav-hover-background-color: #1A1B41; 
  }

body {
    font-family: var(--paragraph-font);
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    padding: 5rem 0;
}

nav a {
    display: flex;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    align-items: center; 
    justify-content: center;   
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}


.hero {
    position: relative;
}

.hero h1{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    color: white;
}

.hero img {   
    
    display: block;
    width: 100%;
    height: auto;
    
}

.hero article {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero article img {

    margin-left: 10px; 
    width: 300px;  
    height: auto;
   
}

.hero article p {
    color: white;
    margin-left: 10px; 
    
}

footer {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 1rem;
}

.sociallinks {
    display: flex;
    justify-content: space-around; 
}

footer .sociallinks img {
    width: 50px;  
    height: 50px; 
}

.history {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    background-color: var(--nav-background-color);
}

.history h2 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 2rem;
    color: black;
}

.history p {
    max-width: 800px; 
    text-align: justify;
    line-height: 1.6;
}

.adventures h2 {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: space-around;
    padding: 1rem;
}


.adventures h2 {
    text-align: center;
}

.images {
    display: flex;
    justify-content: space-around;
}

.images figure {
    text-align: center; 
}

.images img {
    width: 100%; 
}